button {
  border: 1px solid gray;
  background-color: $dark;
  color: white;
  font-family: 'Lexend Exa', sans-serif;
  padding: 10px 0;
  cursor: pointer;
  min-width: 200px;
  &:hover {
    background-color: lighten($dark, 10);;
  }
}