.game {
  p {
    cursor: default;
    font-size: 14px;
    line-height: 0;

    > span.box {
      border: 1px solid gray;
      display: inline-block;
      height: 15px;
      width: 15px;
      background-color: #1e6034;
      &.hide {
        color: #252525;
        background-color: #252525;
        cursor: pointer;
        &:hover {
          color: lighten(#252525, 10);
          background-color: lighten(#252525, 10);
        }
      }
      span.value {
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
